<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="zero">
      <h1>Stop Dreaming About Having Your Own Website.</h1>
      <p>Our platform can transform your ideas into digital reality.</p>
    </div>
    <div class="one">
      <h1><%= title %></h1>
      <p><%= tagline %></p>
      <button>Get Started</button>
    </div>
    <div class="two">
      <h1>Our Services</h1>
      <h2>Purpose</h2>
      <p>Built with your vision</p>
      <h2>Authentication</h2>
      <p>From services you can trust</p>
      <h2>User Interface</h2>
      <p>Accessible from any device</p>
    </div>
    <div class="three">
      <p>
        "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam aliquid
        libero repellat ad, architecto eum expedita possimus. Suscipit
        aspernatur neque eaque, alias amet omnis soluta deleniti, modi tempore
        possimus laborum. Quod placeat suscipit amet tenetur quidem deleniti,
        minima ratione quam eveniet. Quam, officiis iusto omnis sint a labore
        iure distinctio accusantium! Unde quas porro optio laboriosam
        exercitationem ullam! Nesciunt, illum?"
      </p>
    </div>
  </body>
</html>
