<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <script defer src="/javascripts/app.js"></script>
  </head>
  <body>
    <%- include("navbar"); -%>
    <div class="content">
      <section class="home" id="home">
        <div>
          <p>
            Stop Only Dreaming About <br />
            Having Your Own Website
          </p>
          <button class="btn">Get Started</button>
        </div>
      </section>
      <section class="service">
        <div class="tagline">
          <p>
            Build Your Vision. <br />
            Share Your Story.
          </p>
        </div>
        <div class="box">
          <div>
            <h2>Purpose</h2>
            <p>Built with your vision</p>
          </div>
          <div>
            <h2>Authentication</h2>
            <p>From services you can trust</p>
          </div>
          <div>
            <h2>User Interface</h2>
            <p>Accessible from any device</p>
          </div>
        </div>
      </section>
      <section class="brand">
        <div class="brand__container">
          <div class="brand__paragraph">
            <p>
              Create More Than <br />
              Just A Website
            </p>
          </div>
          <div class="brand__paragraph">
            <p>
              Whether you're looking to launch a captivating blog, an intuitive
              shopping cart, or any other type of website, our skilled team is
              here to bring your vision to life.
            </p>
          </div>
        </div>
      </section>
      <section class="business">
        <div class="tagline">
          <p>Grow Your Business</p>
        </div>
        <div class="business__content">
          <div>
            <ul id="list">
              <li onmouseover="changeImage('/images/vision01.png')">
                Personal Blog
              </li>
              <li onmouseover="changeImage('/images/vision02.png')">
                Local Restaurant
              </li>
              <li onmouseover="changeImage('/images/vision03.png')">
                Online Store
              </li>
              <li onmouseover="changeImage('/images/vision04.png')">
                Project Management
              </li>
              <li onmouseover="changeImage('/images/vision05.png')">
                Content Creation
              </li>
              <li onmouseover="changeImage('/images/vision06.png')">
                Freelancing
              </li>
            </ul>
          </div>
          <div id="image-container">
            <img
              id="main-image"
              src="/images/vision01.png"
              alt="img"
              onload="handleImageLoad()"
            />
          </div>
        </div>
      </section>
      <section id="plan" class="four">
        <h2>Choose Your Plan</h2>
        <div class="plans">
          <div class="plan bronze">
            <h3>The Bronze Plan</h3>
            <p>Perfect for personal websites</p>
            <p>Includes</p>
            <ul>
              <li>Custom Website Development</li>
              <li>Website Maintenance and Support</li>
              <li>CMS Implementation</li>
            </ul>
          </div>
          <div class="plan golden">
            <h3>The Golden Plan</h3>
            <p>The Ultimate Package</p>
            <p>Includes</p>
            <ul>
              <li>... everything from the Bronze and Silver Plans</li>
              <li>API Development</li>
              <li>Database Design and Integration</li>
            </ul>
          </div>
          <div class="plan silver">
            <h3>The Silver Plan</h3>
            <p>When you're starting a small business</p>
            <p>Includes</p>
            <ul>
              <li>... everything from the Bronze Plan</li>
              <li>Search Engine Optimization</li>
              <li>Web Application Development</li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
