<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script defer src="/javascripts/app.js"></script>
  </head>
  <body>
    <%- include("navbar"); -%>
    <div class="content">
      <section id="home" class="zero">
        <div class="home">
          <h1>Stop Dreaming About Having Your Own Website</h1>
          <h1><%= tagline %></h1>
          <button class="btn">Get Started</button>
        </div>
      </section>
      <section>
        <div class="left">
          <div>
            <h2>Purpose</h2>
            <p>Built with your vision</p>
          </div>
          <div>
            <img src="/images/vision01.png" alt="img" />
          </div>
        </div>
      </section>
      <section>
        <div class="right">
          <h2>Authentication</h2>
          <p>From services you can trust</p>
        </div>
      </section>
      <section>
        <div class="left">
          <h2>User Interface</h2>
          <p>Accessible from any device</p>
        </div>
      </section>
      <section id="plan" class="four">
        <h1>It's time to Build Your Vision</h1>
        <h2>Choose Your Plan</h2>
        <div class="plans">
          <div class="plan bronze">
            <h3>The Bronze Plan</h3>
            <p>Perfect for personal websites</p>
            <p>Includes</p>
            <ul>
              <li>Custom Website Development</li>
              <li>Website Maintenance and Support</li>
              <li>CMS Implementation</li>
            </ul>
          </div>
          <div class="plan golden">
            <h3>The Golden Plan</h3>
            <p>The Ultimate Package</p>
            <p>Includes</p>
            <ul>
              <li>... everything from the Bronze and Silver Plans</li>
              <li>API Development</li>
              <li>Database Design and Integration</li>
            </ul>
          </div>
          <div class="plan silver">
            <h3>The Silver Plan</h3>
            <p>When you're starting a small business</p>
            <p>Includes</p>
            <ul>
              <li>... everything from the Bronze Plan</li>
              <li>Search Engine Optimization</li>
              <li>Web Application Development</li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
